main section{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
    background: rgba( 245, 245, 220, 0.35 );
    box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.178);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
    margin: 1%;
}
.Inputs{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Inputs label{
    display: block;
    margin: 0.5%;
}
.list{
    display: flex;
    justify-content: space-around;
}
.tendency{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}
main section button{
    color: rgb(116, 59, 13);
    background: rgba( 255, 255, 255, 0.85 );
    box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.062);
    backdrop-filter: blur( 50.0px );
    -webkit-backdrop-filter: blur( 50.0px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.322);
    padding: 1%;
    margin-top: 1%;
}
main section button:hover{
    border: 1px solid rgba(80, 80, 80, 0.322);
}
main section button:active{
    background-color: rgba( 255, 255, 255, 0.85 );;
    box-shadow: 0 1px rgba(102, 102, 102, 0.678);
    transform: translateY(3%);
}
p{
    height: 45px;
    margin-left: 1%;
}
